body {
  margin: auto 0;
  box-sizing: border-box;
}

/*FONT*/
/*COLORS*/
#container-header {
  display: flex;
  justify-content: center;
  margin-top: 6%;
  margin-bottom: 4%;
  width: 100%;
}

#logo {
  display: flex;
  justify-content: center;
}
#logo img {
  width: 50%;
}

#container-location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(219, 219, 219);
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
#container-location i {
  margin-right: 2%;
}
#container-location:hover {
  box-shadow: inset 0px 8px 37px -7px rgba(0, 0, 0, 0.37);
}

.container-title {
  font-family: "Roboto", sans-serif;
  padding-left: 5%;
  font-size: 25px;
}

#container-explore {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 4%;
  background-color: rgb(243, 243, 243);
  padding-bottom: 15%;
}
#container-explore h2 {
  font-family: "Roboto", sans-serif;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 25px;
}
#container-explore p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 4%;
}
#container-explore button {
  padding: 4% 5% 4% 5%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 30px;
  color: white;
  background-image: linear-gradient(to top, #9356DC 0%, #FF79DA 100%);
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  transition: 0.5s;
  margin: 0 auto;
}
#container-explore button:hover {
  box-shadow: 2px 3px 17px -4px #000000;
}

#container-functioning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 90%;
  padding-top: 10%;
  padding-bottom: 10%;
  font-family: "Roboto", sans-serif;
}
#container-functioning .functioning-step {
  display: flex;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgb(243, 243, 243);
  margin: 3% 5% 0 5%;
  border-radius: 25px;
  font-size: 20px;
}
#container-functioning .functioning-step:hover {
  background-color: rgba(146, 86, 220, 0.2745098039);
}

.functioning-step .puces {
  background-color: #9356DC;
  margin-right: 2%;
  font-size: 18px;
  color: white;
  border-radius: 50%;
  padding: 1% 2% 1% 2%;
}
.functioning-step i {
  color: rgb(144, 144, 144);
  margin-left: 5%;
  margin-right: 5%;
}
.functioning-step:hover i {
  color: rgba(146, 86, 220, 0.2745098039);
}

#container-restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-top: 5%;
  background-color: rgb(243, 243, 243);
}
#container-restaurant .restaurant-card {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  background-color: white;
  border-radius: 25px;
  box-shadow: 2px 3px 17px -4px rgba(0, 0, 0, 0.3019607843);
  font-family: "Roboto", sans-serif;
}
#container-restaurant .restaurant-card:hover {
  box-shadow: 2px 3px 17px -4px rgba(0, 0, 0, 0.6);
}
#container-restaurant .restaurant-card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 250px;
  border-radius: 25px 25px 0 0;
}
#container-restaurant .restaurant-card .info-card {
  margin-left: 3%;
  height: 80px;
}
#container-restaurant .restaurant-card .info-title {
  font-size: 20px;
  margin-bottom: 2%;
}
#container-restaurant .restaurant-card .info-location {
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 0;
}
@media (min-width: 1024px) {
  #container-restaurant .restaurant-card {
    width: 30%;
    margin: 2% 2% 0 2%;
  }
}

.info-new {
  position: relative;
  bottom: 350px;
  left: 70%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #99E2D0;
  color: green;
  padding: 5px 15px 5px 15px;
}

#footer-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  background-color: rgb(80, 80, 80);
}
#footer-container ul {
  list-style: none;
  padding: 5%;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: white;
  padding-bottom: 0;
}
#footer-container ul i {
  margin-right: 10px;
  font-size: 15px;
}
#footer-container ul li {
  margin-bottom: 3%;
}

#footer-title {
  font-size: 20px;
  font-family: "Shrikhand";
  padding-bottom: 10px;
}

@media screen and (min-width: 1024px) {
  #container-location {
    width: 50%;
    margin: 0 auto;
    border-radius: 25px;
    margin-bottom: 3%;
  }

  #container-explore {
    width: 50%;
    margin: 0 auto;
    border-radius: 35px;
    padding-bottom: 2%;
    padding-top: 2%;
  }
  #container-explore p {
    margin: 0;
    padding-bottom: 2%;
  }
  #container-explore button {
    padding: 2% 3% 2% 3%;
  }

  #container-functioning {
    padding-top: 4%;
    padding-bottom: 4%;
  }
  #container-functioning .functioning-step {
    width: 50%;
    margin: 2% 5%;
  }

  #container-restaurant {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgb(243, 243, 243);
  }
  #container-restaurant .restaurant-card {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    background-color: white;
    border-radius: 25px;
    box-shadow: 2px 3px 17px -4px rgba(0, 0, 0, 0.3019607843);
    font-family: "Roboto", sans-serif;
  }
  #container-restaurant .restaurant-card:hover {
    box-shadow: 2px 3px 17px -4px rgba(0, 0, 0, 0.6);
  }
  #container-restaurant .restaurant-card img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 250px;
    border-radius: 25px 25px 0 0;
  }
  #container-restaurant .restaurant-card .info-card {
    margin-left: 3%;
    height: 80px;
  }
  #container-restaurant .restaurant-card .info-title {
    font-size: 20px;
    margin-bottom: 2%;
  }
  #container-restaurant .restaurant-card .info-location {
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 0;
  }
}
@media screen and (min-width: 1024px) and (min-width: 1024px) {
  #container-restaurant .restaurant-card {
    width: 30%;
    margin: 2% 2% 0 2%;
  }
}
#container-header {
  background-color: rgb(243, 243, 243);
  margin: 0;
  padding: 5% 0 4% 0;
}
#container-header .back-arrow {
  position: absolute;
  left: 5%;
  top: 3%;
  font-size: 25px;
}

.image-restaurant {
  width: 100%;
  z-index: 1;
}
.image-restaurant img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 350px;
}

.container-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: -40px;
  background-color: rgb(243, 243, 243);
  padding-left: 0;
  padding-top: 10%;
}

.menu-name {
  width: 100%;
  border-radius: 25px 25px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Shrikhand";
  font-size: 25px;
  margin-top: -50px;
  z-index: 2;
  background-color: rgb(243, 243, 243);
}
.menu-name h2 {
  margin-left: 5%;
}
.menu-name i {
  margin-right: 7%;
  font-size: 30px;
}
.menu-name i:hover {
  color: red;
}

.menu-content {
  margin-left: 5%;
}
.menu-content .menu-title {
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 0;
}
.menu-content .title-underline {
  width: 50px;
  border-top: 3px solid #99E2D0;
  margin-bottom: 4%;
}
.menu-content .menu-dish {
  background-color: white;
  width: 95%;
  border-radius: 18px;
  position: relative;
  margin-bottom: 4%;
  -webkit-animation: onLoadAnimation ease 1s;
          animation: onLoadAnimation ease 1s;
}
.menu-content .menu-dish p {
  margin: 1%;
  font-family: "Roboto", sans-serif;
  padding-left: 2%;
}
.menu-content .menu-dish .dish-title {
  padding-top: 3%;
  font-size: 23px;
  max-width: 70%;
}
.menu-content .menu-dish .dish-description {
  font-weight: 300;
  font-size: 20px;
  padding-bottom: 3%;
  max-width: 70%;
}
.menu-content .menu-dish .dish-price {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 20px;
}
.menu-content .menu-dish .dish-check {
  opacity: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  font-size: 25px;
  background-color: #99E2D0;
  color: white;
  padding: 5% 5% 5% 5%;
  border-radius: 0 18px 18px 0;
  transform: translateX(20%);
}
.menu-content .menu-dish:hover .dish-check {
  opacity: 1;
  transform: translateX(0);
  transition: transform 1s ease;
}
.menu-content .menu-dish:hover .dish-price {
  right: 20%;
}
@-webkit-keyframes onLoadAnimation {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes onLoadAnimation {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.order-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20%;
  margin-top: 10%;
}
.order-btn button {
  padding: 4% 5% 4% 5%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 30px;
  color: white;
  background-image: linear-gradient(to top, #9356DC 0%, #FF79DA 100%);
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  transition: 0.5s;
  padding-left: 10%;
  padding-right: 10%;
}
.order-btn button:hover {
  box-shadow: 2px 3px 17px -4px #000000;
}/*# sourceMappingURL=style.css.map */