a:visited {
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

/*FONT*/
/*COLORS*/
#header {
  margin-top: 6%;
  margin-bottom: 4%;
  width: 100%;
  padding-top: 0;
  background-color: white;
}
#header__logo {
  display: flex;
  justify-content: center;
}
#header__logo img {
  width: 44%;
}

#location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  width: 100%;
  height: 42px;
  font-family: "Roboto", sans-serif, "FontAwesome";
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0px 10px 15px -6px rgba(0, 0, 0, 0.115) inset;
  border: none;
  text-align: center;
}
#location:hover {
  box-shadow: inset 0px 8px 37px -7px rgba(0, 0, 0, 0.37);
}
#location:focus {
  outline: none;
}

#explore {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 5%;
  background-color: rgb(243, 243, 243);
  padding-bottom: 15%;
}
#explore h2 {
  font-family: "Roboto", sans-serif;
  padding-left: 12%;
  padding-right: 12%;
  font-size: 22px;
  margin-bottom: 0;
}
#explore p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 4%;
  margin-top: 3%;
}
#explore button {
  padding: 4% 5% 4% 5%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 30px;
  color: white;
  background-image: linear-gradient(to top, #9356DC 0%, #FF79DA 100%);
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  transition: 0.5s;
  margin: 0 auto;
}
#explore button:hover {
  background-image: linear-gradient(to top, #bc85ff 0%, #FF79DA 100%);
  box-shadow: 2px 3px 17px -4px #000000;
}

.functioning {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding-top: 9%;
  padding-bottom: 15%;
  font-family: "Roboto", sans-serif;
  position: relative;
  background-color: white;
}
.functioning__title {
  font-size: 21px;
  margin-left: 5%;
}
.functioning__step {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: 60px;
  background-color: rgb(243, 243, 243);
  margin: 4% auto;
  border-radius: 15px;
  box-shadow: 2px 3px 17px -4px rgba(0, 0, 0, 0.3019607843);
  font-size: 15px;
}
.functioning__step:hover {
  background-color: rgba(146, 86, 220, 0.137254902);
}
.functioning__step__puces {
  position: absolute;
  background-color: #9356DC;
  left: 4%;
  margin-right: 2%;
  font-size: 12px;
  color: white;
  border-radius: 50%;
  padding: 2% 2% 1% 2%;
}
.functioning__step i {
  position: absolute;
  color: rgb(144, 144, 144);
  left: 15%;
}
.functioning__step:hover i {
  color: #9356DC;
}

.restaurant__title {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  padding-top: 10%;
  background-color: #F6F6F6;
  padding-bottom: 0%;
  padding-left: 4%;
  margin-bottom: 0;
}

.restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 8%;
  background-color: #F6F6F6;
}
.restaurant__card {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  background-color: white;
  border-radius: 25px;
  box-shadow: 2px 3px 17px -4px rgba(0, 0, 0, 0.3019607843);
  font-family: "Roboto", sans-serif;
  position: relative;
}
.restaurant__card:hover {
  box-shadow: 2px 3px 17px -4px rgba(0, 0, 0, 0.6);
}
.restaurant__card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 160px;
  border-radius: 25px 25px 0 0;
}
.restaurant__card .card__info {
  margin-left: 3%;
  height: 55px;
}
.restaurant__card .card__info__title {
  font-size: 16px;
  margin-bottom: 1%;
  margin-top: 3%;
  font-weight: bold;
}
.restaurant__card .card__info__location {
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 0;
}
@media (min-width: 1024px) {
  .restaurant__card {
    width: 30%;
    margin: 2% 2% 0 2%;
  }
}
.restaurant__card .card__info__like:hover {
  opacity: 0;
  transition: 0.7s ease-in;
}
.restaurant__card .card__info__like__full {
  opacity: 0;
  transition: 0.7s linear;
  scale: 0;
  transform-origin: 50% 60%;
}
.restaurant__card .card__info__like:hover ~ .card__info__like__full {
  opacity: 1;
  scale: 1;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(to top, #FF79DA, #9356DC);
}
.restaurant__card__new {
  font-size: 14px;
  position: absolute;
  top: 1%;
  right: 3%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #99E2D0;
  color: green;
  padding: 5px 15px 5px 15px;
}

.card__info {
  position: relative;
}
.card__info__like {
  position: absolute;
  font-size: 22px;
  padding: 5% 5% 5% 5%;
  right: 2%;
  bottom: 20%;
  z-index: 1;
}
.card__info__like__full {
  position: absolute;
  font-size: 22px;
  padding: 5% 5% 5% 5%;
  right: 2%;
  bottom: 20%;
}

.footer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  background-color: #353535;
}
.footer ul {
  padding-left: 5%;
  list-style: none;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: white;
}
.footer ul i {
  margin-right: 10px;
  font-size: 16px;
}
.footer ul li {
  margin-bottom: 5%;
}
.footer .footer__title {
  font-size: 18px;
  font-family: "Shrikhand";
  padding-bottom: 10px;
  padding-top: 10px;
}

@media screen and (min-width: 768px) {
  .location {
    width: 70%;
    margin: 0 auto;
    border-radius: 25px;
    margin-bottom: 3%;
  }

  #header {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%;
  }

  #explore h2 {
    font-size: 25px;
  }
  #explore p {
    font-size: 20px;
  }
  #explore button {
    font-size: 18px;
    padding: 2%;
  }

  .functioning {
    width: 50%;
    margin: 0 auto;
    padding-top: 9%;
    padding-bottom: 15%;
    font-family: "Roboto", sans-serif;
    position: relative;
    background-color: white;
  }
  .functioning__title {
    font-size: 25px;
    margin-left: -45%;
  }
  .functioning__step {
    margin: 5%;
  }
  .functioning__step p {
    font-size: 18px;
  }
  .functioning__step__puces {
    font-size: 14px;
    padding: 2px 5px;
  }

  .restaurant {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .restaurant__card {
    position: relative;
    width: 40%;
  }

  .footer ul {
    font-size: 15px;
  }

  .footer__title {
    font-size: 22px;
  }
}
@media screen and (min-width: 1024px) {
  body {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  #location {
    width: 50%;
    margin: 0 auto;
    border-radius: 25px;
    margin-bottom: 3%;
  }

  #explore {
    width: 70%;
    margin: 0 auto;
    border-radius: 35px;
    padding-bottom: 4%;
    padding-top: 2%;
  }
  #explore p {
    margin: 0;
    padding-bottom: 3%;
    padding-top: 3%;
  }
  #explore button {
    padding: 2% 3% 2% 3%;
  }

  .functioning {
    padding-top: 4%;
    padding-bottom: 4%;
  }
  .functioning__step {
    margin: 3% auto;
    width: 90%;
  }
  .functioning__step__puces {
    padding: 4px 6px;
  }

  .restaurant {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgb(243, 243, 243);
  }
}
.header__menu {
  background-color: white;
  margin: 0;
  position: relative;
}
.header__menu__logo {
  display: flex;
  justify-content: center;
  padding-top: 6%;
  padding-bottom: 4%;
}
.header__menu__logo img {
  width: 45%;
}
.header__menu .back-arrow {
  position: absolute;
  left: 5%;
  top: 35%;
  font-size: 20px;
  color: black;
}

.image-restaurant {
  width: 100%;
  z-index: 1;
}
.image-restaurant img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 245px;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: -40px;
  background-color: rgb(243, 243, 243);
  padding-left: 0;
  padding-top: 10%;
}
.menu__name {
  width: 100%;
  border-radius: 25px 25px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  font-family: "Shrikhand";
  font-size: 16px;
  margin-top: -50px;
  background-color: rgb(243, 243, 243);
  position: relative;
}
.menu__name .card__info__like:hover {
  opacity: 0;
  transition: 0.7s ease-in;
}
.menu__name .card__info__like__full {
  opacity: 0;
  transition: 0.7s linear;
  scale: 0;
  transform-origin: 50% 60%;
}
.menu__name .card__info__like:hover ~ .card__info__like__full {
  opacity: 1;
  scale: 1;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(to top, #FF79DA, #9356DC);
}
.menu__name h2 {
  margin-top: 9%;
  margin-left: 5%;
  margin-right: 15%;
}
.menu__name .card__info__like {
  position: absolute;
  right: 10%;
  font-size: 25px;
  padding: 5% 5% 5% 5%;
  z-index: 1;
}
.menu__name .card__info__like__full {
  position: absolute;
  right: 10%;
  font-size: 25px;
  padding: 5% 5% 5% 5%;
}
.menu__content {
  margin-left: 4%;
  margin-bottom: 4%;
}
.menu__content__title {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 0;
}
.menu__content__underline {
  width: 35px;
  border-top: 3px solid #99E2D0;
  margin-bottom: 4%;
}
.menu__content__dish {
  background-color: white;
  width: 95%;
  border-radius: 18px;
  position: relative;
  margin-bottom: 5%;
  opacity: 0;
  -webkit-animation: onLoadAnimation ease 1s;
          animation: onLoadAnimation ease 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.menu__content__dish p {
  margin: 1%;
  font-family: "Roboto", sans-serif;
  padding-left: 2%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__content__dish .dish-title {
  padding-top: 3%;
  font-size: 17px;
  max-width: 70%;
}
.menu__content__dish .dish-description {
  font-weight: 300;
  font-size: 15px;
  padding-bottom: 3%;
  max-width: 70%;
}
.menu__content__dish .dish-price {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 15px;
}
.menu__content__dish .dish-check {
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 6%;
  font-size: 18px;
  background-color: #99E2D0;
  color: white;
  border-radius: 0 18px 18px 0;
  transform: translateX(20%);
}
.menu__content__dish .dish-check i {
  transition: transform 1s ease;
  transform: rotate(180deg);
}
.menu__content__dish:hover .dish-check {
  opacity: 1;
  transform: translateX(0);
  transition: transform 1s ease;
}
.menu__content__dish:hover .dish-check i {
  transform: rotate(360deg);
}
.menu__content__dish:hover .dish-price {
  right: 20%;
}
@-webkit-keyframes onLoadAnimation {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes onLoadAnimation {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.menu__content__dish:nth-child(4) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.menu__content__dish:nth-child(5) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.order-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20%;
  margin-top: 3%;
}
.order-btn button {
  padding: 4% 5% 4% 5%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 30px;
  color: white;
  background-image: linear-gradient(to top, #9356DC 0%, #FF79DA 100%);
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  transition: 0.5s;
  padding-left: 10%;
  padding-right: 10%;
}
.order-btn button:hover {
  background-image: linear-gradient(to top, #bc85ff 0%, #FF79DA 100%);
  box-shadow: 2px 3px 17px -4px #000000;
}

@media screen and (min-width: 768px) {
  .header__menu__logo {
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .header__menu__logo img {
    width: 30%;
  }
  .header__menu .back-arrow {
    font-size: 30px;
    top: 30%;
  }

  .image-restaurant img {
    height: 400px;
  }

  .menu {
    padding-top: 0px;
  }
  .menu__name h2 {
    font-size: 30px;
  }
  .menu__name i {
    bottom: 20%;
    padding: 1%;
  }

  .menu__content__title {
    font-size: 20px;
  }
  .menu__content__underline {
    width: 8%;
    margin-bottom: 2%;
  }
  .menu__content__dish {
    margin-bottom: 2%;
  }
  .menu__content__dish .dish-check {
    padding-top: 5%;
  }
}
@media screen and (min-width: 1024px) {
  .header_menu_logo {
    width: 70%;
    margin: 0 auto;
  }

  .menu__content__title {
    font-size: 20px;
  }
  .menu__content__underline {
    width: 5%;
  }
  .menu__content__dish {
    margin: 3% auto;
    width: 80%;
  }

  .order-btn button {
    font-size: 20px;
    padding: 2% 3% 2% 3%;
  }
}
.loader {
  display: flex;
  justify-content: center;
  background-color: rgb(243, 243, 243);
  position: absolute;
  top: 0;
  -webkit-animation: fade-out 0s;
          animation: fade-out 0s;
  opacity: 0;
  height: 100%;
}
.loader span {
  position: relative;
  top: 50%;
  display: inline-block;
  background-color: #FF79DA;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  margin: 0 3%;
  -webkit-animation: bounce 0.6s infinite alternate;
          animation: bounce 0.6s infinite alternate;
  transform: translate3d(0, 0, 0);
}
.loader span:nth-child(2) {
  background-color: #bc85ff;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.loader span:nth-child(3) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

@-webkit-keyframes bounce {
  to {
    width: 16px;
    height: 16px;
    transform: translate3d(0, -16px, 0);
  }
}

@keyframes bounce {
  to {
    width: 16px;
    height: 16px;
    transform: translate3d(0, -16px, 0);
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
    z-index: 1;
    width: 100%;
    height: 100vh;
  }
  95% {
    opacity: 1;
    z-index: 1;
    width: 100%;
    height: 100vh;
  }
  100% {
    opacity: 0;
    z-index: -1;
    width: 0;
    height: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
    z-index: 1;
    width: 100%;
    height: 100vh;
  }
  95% {
    opacity: 1;
    z-index: 1;
    width: 100%;
    height: 100vh;
  }
  100% {
    opacity: 0;
    z-index: -1;
    width: 0;
    height: 0;
  }
}/*# sourceMappingURL=style.css.map */