#container-header{
    margin-top: 6%;
    margin-bottom: 4%;
    width: 100%;
    padding-top: 0;
    background-color: white;
    #logo{
        display: flex;
        justify-content: center;
        img{
        width: 44%;
        }
    }
}




#container-location{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
    width: 100%;
    height: 42px;
    font-family: $font-basic, "FontAwesome";
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0px 10px 15px -6px rgba(0, 0, 0, 0.115) inset;

    border: none;
    text-align: center;

    &:hover{
        box-shadow: inset 0px 8px 37px -7px rgba(0,0,0,0.37);
    }
    &:focus{
        outline: none;
    }
}


#container-explore{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 5%;
    background-color: $soft-grey;
    padding-bottom: 15%;
    h2{
        font-family: $font-basic;
        padding-left: 12%;
        padding-right: 12%;
        font-size: 22px;
        margin-bottom: 0;
    }
    p{
        font-family: $font-basic;
        font-weight: $light;
        font-size: 16px;
        padding-left: 6%;
        padding-right: 6%;
        padding-bottom: 4%;
        margin-top: 3%;
    }
    button{
        @include btn;
        margin: 0 auto;
    }
}


#container-functioning{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding-top: 9%;
    padding-bottom: 15%;
    font-family: $font-basic;
    position: relative;
    background-color: white;
    .container-title{
        font-size: 21px;
    }
    .functioning-step{
        display: flex;
        @include functioning;
    }
}

.functioning-step{
    .puces{
        @include puces;
    }
    i{
        position: absolute;
        color: $dark-grey;
        left: 15%;
    }
    &:hover{
        i{
            color: $violet
        }
    }
}

.container-title{
    font-family: $font-basic;
    padding-left: 5%;
    font-size: 22px;
}

.container-title-restaurant{
    font-family: $font-basic;
    font-size: 22px;
    padding-top: 10%;
    background-color: #F6F6F6;
    padding-bottom: 0%;
    padding-left: 4%;
    margin-bottom: 0;
    
}

#container-restaurant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 8%;
    background-color: #F6F6F6;
    .restaurant-card{
        @include card;
        @include like;
        position: relative;
        .info-new{
            @include new
        }
     }
}

.info-card{
    position: relative;
    .info-like{
        position: absolute;
        font-size: 22px;
        padding: 5% 5% 5% 5%;
        right: 2%;
        bottom: 20%; 
        z-index: 1;    
    }    
    .like-full{
        position: absolute;
        font-size: 22px;
        padding: 5% 5% 5% 5%;
        right: 2%;
        bottom: 20%; 
    }
}

#footer-container{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background-color:#353535;
    ul{
        padding-left: 5%;
        list-style: none;
        font-size: 12px;
        font-family: $font-basic;
        font-weight: $light;
        color: white;
        i{
            margin-right: 10px;
            font-size: 16px;
        }
        li{
            margin-bottom: 5%;
        }
    }
}

#footer-title{
    font-size: 18px;
    font-family: $font-logo;
    padding-bottom: 10px;
    padding-top: 10px;
}


@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {
    #container-location{
        width: 50%;
        margin: 0 auto;
        border-radius: 25px;
        margin-bottom: 3%;
    }

    #container-explore{
        width: 50%;
        margin: 0 auto;
        border-radius: 35px;
        padding-bottom: 2%;
        padding-top: 2%;
        p{
            margin: 0;
            padding-bottom: 2%;
        }
        button{
            padding: 2% 3% 2% 3%;
        }
    }

    #container-functioning{
        padding-top: 4%;
        padding-bottom: 4%;
        .functioning-step{
            width: 50%;
            margin: 2% 5%;
        }
    }

    #container-restaurant{
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-top: 5%;
        padding-bottom: 5%;
        background-color: $soft-grey;
        .restaurant-card{
            @include card
         }
    }

}