/*RESTAURANT IMG*/
.image-restaurant {
  @include menu-img;
  z-index: 1;
}

/*MENU BOX*/
.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: -40px;
  background-color: $soft-grey;
  padding-left: 0;
  padding-top: 10%;
  &__name {
    width: 100%;
    border-radius: 25px 25px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    font-family: $font-logo;
    font-size: 13px;
    margin-top: -50px;
    background-color: $soft-grey;
    position: relative;
    @include like;
    h1 {
      margin-top: 9%;
      margin-left: 5%;
      margin-right: 15%;
    }
    /*LIKE POSITIONING*/
    .like {
      position: absolute;
      right: 5%;
      font-size: 25px;
      padding: 5% 5% 5% 5%;
      z-index: 1;
    }
    .like__full {
      position: absolute;
      right: 5%;
      font-size: 25px;
      padding: 5% 5% 5% 5%;
    }
  }
  &__content {
    margin-left: 4%;
    margin-bottom: 4%;
    &__title {
      font-size: 15px;
      font-family: $font-basic;
      text-transform: uppercase;
      font-weight: $light;
      margin-bottom: 0;
      margin-top: 4%;
    }
    &__underline {
      width: 35px;
      border-top: 3px solid $light-gray;
      margin-bottom: 4%;
    }
    &__dish {
      @include menu-dish;
      @include onload;
      animation-fill-mode: forwards;
      &:nth-child(4) {
        animation-delay: 0.2s;
      }
      &:nth-child(5) {
        animation-delay: 0.4s;
      }
      &:nth-child(6) {
        animation-delay: 0.6s;
      }
    }
  }
}

/*ORDER BTN*/
.order-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 23%;
  margin-top: 5%;
  button {
    @include btn;
    padding-left: 10%;
    padding-right: 10%;
  }
}

/*TABLETTE*/
@media screen and (min-width: 768px) {
  .image-restaurant {
    img {
      height: 400px;
    }
  }

  .menu {
    padding-top: 0px;
    &__name {
      h1 {
        font-size: 30px;
      }
      i {
        bottom: 20%;
        padding: 1%;
      }
    }
  }
  .menu__content {
    &__title {
      font-size: 20px;
    }
    &__underline {
      width: 8%;
      margin-bottom: 2%;
    }
    &__dish {
      margin-bottom: 2%;
      .dish-check {
        padding-top: 5%;
      }
    }
  }
  .like {
    top: 20%;
  }
  .like__full {
    top: 20%;
  }
}

/*DESKTOP*/
@media screen and (min-width: 1024px) {
  .menu__content {
    &__title {
      font-size: 20px;
    }
    &__underline {
      width: 5%;
    }

    &__dish {
      margin: 3% auto;
      width: 80%;
    }
  }

  .order-btn {
    margin-bottom: 15%;
    button {
      font-size: 20px;
      padding: 2% 3% 2% 3%;
    }
  }
}

/*DESKTOP 4K FIX CHECKBOX*/
@media screen and (min-width: 1440px) {
  .dish-check {
    padding-bottom: 0 !important;
  }
}
