/*RESET LINK STYLE*/
a:visited {
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

/**/
@media screen and (min-width: 1024px) {
  body {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}
