/*BUTTON*/
@mixin btn {
  padding: 4% 5% 4% 5%;
  width: fit-content;
  border-radius: 30px;
  color: white;
  background-image: linear-gradient(to top, $violet 0%, $pink 100%);
  border: none;
  font-family: $font-basic;
  font-size: 15px;
  transition: 0.5s;
  &:hover {
    background-image: linear-gradient(to top, $light-violet-btn 0%, $pink 100%);
    -webkit-box-shadow: 2px 3px 17px -4px #000000;
    box-shadow: 2px 3px 17px -4px #000000;
  }
}

/*FUNCTIONING*/
@mixin functioning {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: 60px;
  background-color: $soft-grey;
  margin: 4% auto;
  border-radius: 15px;
  box-shadow: 2px 3px 17px -4px #0000004d;
  font-size: 15px;
  &:hover {
    background-color: $light-violet;
  }
}
/*FUNCTIONING PUCES*/
@mixin puces {
  position: absolute;
  background-color: $violet;
  left: 4%;
  margin-right: 2%;
  font-size: 12px;
  color: white;
  border-radius: 50%;
  padding: 2% 2% 1% 2%;
}
/*INDEX RESTAURANT CARD*/
@mixin card {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  background-color: white;
  border-radius: 25px;
  box-shadow: 2px 3px 17px -4px #0000004d;
  font-family: $font-basic;
  &:hover {
    box-shadow: 2px 3px 17px -4px #00000099;
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 160px;
    border-radius: 25px 25px 0 0;
  }
  .card__info {
    margin-left: 3%;
    height: 55px;
    &__title {
      font-size: 16px;
      margin-bottom: 1%;
      margin-top: 3%;
      font-weight: bold;
    }
    &__location {
      font-weight: $light;
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  @media (min-width: 1024px) {
    width: 30%;
    margin: 2% 2% 0 2%;
  }
}

/*LIKE ANIMATION*/
@mixin like {
  .like {
    &:hover {
      opacity: 0;
      transition: 0.7s ease-in;
    }
    &__full {
      opacity: 0;
      transition: 0.7s ease-in;
      transform: scale(0);
      transform-origin: 50% 80%;
    }
  }

  .like:hover ~ .like__full {
    opacity: 1;
    transform: scale(1);
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to top, $pink, $violet);
  }
}

/*INDEX RESTAURANT NEW*/
@mixin new {
  font-size: 14px;
  position: absolute;
  top: 1%;
  right: 3%;
  width: fit-content;
  background-color: $light-gray;
  color: green;
  padding: 5px 15px 5px 15px;
}

/*MENU IMG*/
@mixin menu-img {
  width: 100%;
  img {
    object-fit: cover;
    width: 100%;
    height: 245px;
  }
}

/*MENU DISH*/
@mixin menu-dish {
  background-color: white;
  width: 95%;
  border-radius: 18px;
  position: relative;
  margin-bottom: 5%;
  opacity: 0;
  cursor: pointer;
  p {
    margin: 1%;
    font-family: $font-basic;
    padding-left: 2%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dish-title {
    padding-top: 3%;
    font-size: 17px;
    max-width: 70%;
  }
  .dish-description {
    font-weight: $light;
    font-size: 15px;
    padding-bottom: 3%;
    max-width: 70%;
  }
  .dish-price {
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: 15px;
    transform: translateX(50%);
  }
  /*DISH CHECK ANIMATION*/
  .dish-check {
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 6%;
    font-size: 18px;
    background-color: $light-gray;
    color: white;
    border-radius: 0 18px 18px 0;
    transform: translateX(100%);
    i {
      transition: transform 2s ease;
      transform: rotate(180deg);
    }
  }
  &:hover {
    .dish-check {
      opacity: 1;
      transform: translateX(0);
      transition: transform 2s ease;
      i {
        transform: rotate(360deg);
      }
    }
    .dish-price {
      transition: transform 2s ease;
      transform: translateX(-140%);
    }
    .dish-title {
      max-width: 60%;
    }
    .dish-description {
      max-width: 60%;
    }
  }
}

/*MENU DISH ANIMATION*/
@mixin onload {
  @keyframes onLoadAnimation {
    0% {
      opacity: 0;
      transform: translateY(20%);
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  animation: onLoadAnimation ease 1s;
}
