/*FONT*/
$font-logo: 'Shrikhand';
$font-basic: 'Roboto', sans-serif;
$light: 300;

/*COLORS*/
$dark-grey: rgb(144, 144, 144);
$medium-grey: rgb(219, 219, 219);
$soft-grey : rgb(243, 243, 243);
$violet : #9356DC;
$light-violet : #9256dc23;
$light-violet-btn : #bc85ff;
$pink: #FF79DA;
$light-gray: #99E2D0;