/*FONT*/
$font-logo: "Shrikhand";
$font-basic: "Roboto", sans-serif;
$light: 300;

/*COLORS*/
$dark-grey: rgb(144, 144, 144);
$medium-grey: rgb(219, 219, 219);
$soft-grey: rgb(243, 243, 243);
$violet: #9356dc;
$light-violet: #9256dc23;
$light-violet-btn: #bc85ff;
$pink: #ff79da;
$light-gray: #99e2d0;
